body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: whitesmoke;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.header label {
  font-size: .85em;
}

.header h3 {
  font-size: 2em;
}

.todo-list {
  background: url('wave.svg');
  background-size: cover;
  background-color: white;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  box-shadow:
    /* The top layer shadow */
    0 1px 1px rgba(0, 0, 0, 0.15),
    /* The second layer */
    0 10px 0 -5px #eee,
    /* The second layer shadow */
    0 10px 1px -4px rgba(0, 0, 0, 0.15),
    /* The third layer */
    0 20px 0 -10px #eee,
    /* The third layer shadow */
    0 20px 1px -9px rgba(0, 0, 0, 0.15);
  padding: 30px;
  padding-bottom: 280px;
}

.todo-item {
  display: flex;
  /* justify-content: flex-start; */
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 0;
  width: 85%;
  border-bottom: 1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
}

.todo-item p {
  flex-basis: 60%;
}

input[type=checkbox] {
  margin-right: 10px;
  font-size: 30px;
  flex-basis: 5%
}

input[type=checkbox]:focus {
  outline: 0;
}

.btn {
  /* margin-left: 145px; */
  border-radius: 5px;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, .015);
  height: 32px;
  padding: 8px 8px;
  border-radius: 4px;
  color: rgba(0, 0, 0, .65);
  background-color: #fff;
  border: 1px solid #7f8ff4;
  box-shadow: 0 2px 0 rgba(0, 0, 0, .015);
  cursor: pointer;
  font-size: 11px;
  flex-basis: 15%;
}

form {
  padding: 30px;
  /* width: 360px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type=text] {
  box-shadow: 0px 6px 50px 0 rgba(0, 0, 0, .12);
  border-width: 0 0 1px 0;
  margin: 15px 10px 15px 15px;
  border-radius: 5px;
  background-color: #fff;
  text-shadow: none;
  color: #a3a3a3;
  letter-spacing: 2px;
  outline: none;
  width: 360px;
  padding: 20px 18px;
}

input[type=text]::-webkit-input-placeholder {
  color: #C7BCF8;
  letter-spacing: 2px;
}

input[type=submit] {
  padding: 16px 36px;
  outline: none;
  transition: background-color 0.2s ease,
    color 0.2s ease;
  margin-left: -96px;
  display: inline-block;
  border-radius: 2px;
  display: inline-block;
  background: transparent;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  font-size: .6em;
  background-color: #7f8ff4;
  border-radius: 5px;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  cursor: pointer;
  margin-left: -96px;
  text-transform: uppercase;
}

button,
input[type=submit] {
  outline: none;
  transition: background-color 0.2s ease,
    color 0.2s ease;
}

.pending {
  list-style: none;
  color: #d2d2d2;
}

.fade {
  color: #d2d2d2 !important;
}